
  .completed {
    text-decoration: line-through;
  }
  .close-icon {
    cursor: pointer;
  }
  .md-content {
    width: 100%;
    height: 40px;
    display: inline-flex;
    /* justify-content: center; */
    align-items: center;
  }
  .md-list-item-content{
    padding: 4px 4px !important;
  }
  .md-list.md-triple-line .md-list-item-content{
    min-height: 60px !important;
  }
  /*  .md-inset {
     width: 300px;
     max-width: 100%;
     display: inline-block;
   }
   .md-divider.md-inset {
     margin-left: 0px; /* margin-left: 72px; //
   } */