<div class="todo-item md-layout">
    <md-list-item>
        <div class="md-layout-item">
            <md-checkbox @change="toggleCompletionStatus" :value="!todo.completed" />
        </div>
        <div class="md-layout-item">
            <md-content :class="{ 'completed': todo.completed }">{{todo.title}}</md-content>
        </div>
        <div class="md-layout-item">
            <md-button class="md-icon-button" @click="$emit('delete-todo', todo.id)">
                <md-icon class="md-primary">delete</md-icon>
            </md-button>
        </div>
    </md-list-item>
    <md-divider class="md-inset"></md-divider>
</div>