<div>
    <md-card>
        <md-card-header>
            <div class="md-title">{{day}}</div>
            <div class="md-subhead">{{todayDay}}</div>
        </md-card-header>
        <md-card-content>
            <div>
                <AddToDo :todos="todos" :actions="actions" />
            </div>
            <!-- <VclBulletList v-if="todos.length === 0" /> -->
            <div class="no-todos" v-if="todos.length === 0">NO TODOS :)</div>
            <md-list v-else>
                <!-- <div class="md-list-item-text"> -->
                <ToDoItem :key="todo.id" :todo="todo" :actions="actions" v-for="todo in todos" />
                <!-- </div> -->
            </md-list>
        </md-card-content>

        <md-card-actions>
            <md-button class="md-raised md-accent" @click="clearAllTodos" :disabled="todos.length === 0">
                Clear All
            </md-button>
        </md-card-actions>
    </md-card>
</div>