<form @submit.prevent="addNewToDo($event)">
    <div class="md-layout add-todo">
        <div class="md-layout-item">
            <md-field md-clearable>
                <label>e.g. Feed your cat</label>
                <md-input v-model="title" type="text" name="newTodo" autocomplete="off" />
            </md-field>
        </div>

        <md-button class="md-icon-button add-btn" type="submit" v-if="title.length !== 0">
            <md-icon class="md-primary add-icon">add</md-icon>
        </md-button>
    </div>
</form>